/* start of the home page style */
body{
background: rgb(253, 253, 253);
  background: linear-gradient(
    142deg,
    rgb(203, 250, 210) 0%,
    rgb(11, 109, 34) 100%
  );
  color:rgb(242, 206, 206);
  }

#wrapper{
background-color: fff;
padding-top: 50px;

}
#container{
    background-color: rgb(255, 253, 253);
    width: 95%;
    margin: auto;
   
    }



}

#maincontent h1{
padding-top: 20px;
padding-left: 20px;
font-size: 40px;
font-family: "futura";
text-align: center;


}
#maincontent h2{
    font-size: 15px;
    font-style: italic;

}

body{
    font-size: 15px;
    font-family: "futura";
    text-align: center;
    
}



.floatright{
float: right;}

ul{
font-family: "futura";
min-width: 600px;
list-style-type: none;
margin:0;
padding:10px 20px;
overflow:hidden;
}

li{
float: left;
padding: 5px;
}

li:last-child{
border-right: none;
}

li a{
color:white;
padding:5px 40px;
text-decoration: none;
}


/* style for logotext */

.header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 4rem);
}

.title-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  transform: skew(0, -10deg);
  padding-top:35px;
  padding-bottom:35px;
  max-width: 400px;
margin: auto;
}

.top-title {
  order: 1;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-bottom: 1rem;
  padding-right: 2rem;
}

.bottom-title {
  order: 3;
  text-align: center;
  display: block;
  color: #fff;
  font-size: clamp(1rem, 4vw, 1.5rem);
  margin-top: 2rem;
  padding-left: 2rem;
}

.sweet-title {
  order: 2;
  color: #fefefe;
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 0.75em;
  text-align: center;
  text-shadow: 3px 1px 1px #000000, 2px 2px 1px #165bfb, 4px 2px 1px #4af7ff,
    3px 3px 1px #2bba56, 5px 3px 1px #0a3f1a, 4px 4px 1px #54894e,
    6px 4px 1px #439d57, 5px 5px 1px #408e57, 7px 5px 1px #38a653,
    6px 6px 1px #1dac48, 8px 6px 1px #d8f0f1, 7px 7px 1px #103622,
    9px 7px 1px #16f69c;

  span {
    display:block;
    position: relative;

    &:before {
      content: attr(data-text);
      position: absolute;
      text-shadow: 2px 2px 1px #e94aa1, -1px -1px 1px #c736f9,
        -2px 2px 1px #e94aa1, 1px -1px 1px #f736f9;
      z-index: 1;
    }

    &:nth-child(1) {
      padding-right: 2.25rem;
    }

    &:nth-child(2) {
      padding-left: 2.25rem;
    }
  }
}




#cta{

padding:20px 40px;
border: solid white 2px;
max-width:200px;
margin: auto;
}


#maincta{
color:white;
text-decoration: none;}

.bottominfo{
padding: 100px 0px;}



.card{
color:#333;}



#invoice-wrap{
max-width:229px;
margin:auto;
}
